@mixin link{
    text-decoration: none;
}

@mixin linkFooter{
    text-decoration: none;
    color: $fontColorWhite;
    text-transform: uppercase;
    @include t(rem(16), rem(30));
    padding: 10px;
    font-weight: 400;
}

@mixin nav {
    list-style: none;
}