<footer class="footer">
    <a class="footer__scroll" href="../index.html#hero"><img src="./assets/images/ico-arrow.svg" alt=""></img></a>
    <nav>
        <ul class="footer__menuSite">
            <li><a class="footer__menuSite--link" href="https://adalab.es" title="Articles" target="_blank">Articles</a></li>
            <li><a class="footer__menuSite--link" href="https://adalab.es" title="Books" target="_blank">Books</a></li>
            <li><a class="footer__menuSite--link" href="https://adalab.es" title="Events" target="_blank">Events</a></li>
            <li><a class="footer__menuSite--link" href="https://adalab.es" title="Reasons" target="_blank">Reasons</a></li>
            <li><a class="footer__menuSite--link" href="https://adalab.es" title="Tips" target="_blank">Tips</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="footer__menuSocial">
            <li><a class="footer__menuSocial--link" href="https://adalab.es" title="Twitter" target="_blank">Twitter</a></li>
            <li><a class="footer__menuSocial--link" href="https://adalab.es" title="Instagram" target="_blank">Instagram</a></li>
            <li><a class="footer__menuSocial--link" href="https://adalab.es" title="Mastodon.social" target="_blank">Mastodon.social</a></li>
        </ul>
    </nav>
    <small class="footer__small">
        <p class="footer_small--copyright">&copy;2022</p>
        <p class="footer__small--text">We <i class="fa-solid fa-heart fa-sm"></i> components</p>
    </small>
</footer>