<footer class="footer">
    <a class="footer__scroll" href="./index.html#hero" title="Home">
        <img src="./assets/images/ico-arrow.svg" alt="Logo scroll top"></img>
    </a>
    <div class="footer__menu">
        <nav>
            <ul class="footer__menu--site">
                <li><a class="link" href="https://adalab.es" title="Articles" target="_blank">Articles</a></li>
                <li><a class="link" href="https://adalab.es" title="Books" target="_blank">Books</a></li>
                <li><a class="link" href="https://adalab.es" title="Events" target="_blank">Events</a></li>
                <li><a class="link" href="https://adalab.es" title="Reasons" target="_blank">Reasons</a></li>
                <li><a class="link" href="https://adalab.es" title="Tips" target="_blank">Tips</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="footer__menu--social">
                <li><a class="link" href="https://adalab.es" title="Twitter" target="_blank">Twitter</a></li>
                <li><a class="link" href="https://adalab.es" title="Instagram" target="_blank">Instagram</a></li>
                <li><a class="link" href="https://adalab.es" title="Mastodon.social" target="_blank">Mastodon.social</a></li>
            </ul>
        </nav>
        <div class="footer__menu--small">
            <small>&copy;2022</small>
            <small>We <i class="fa-solid fa-heart fa-sm"></i> components</small>
        </div>
    </div>
</footer>