/*Main colors*/
$colorBlueDark: #304268;
$colorBlueMedium: #0271bc;
$colorBlueLight: #eff9ff; 

/*Main colors applied to site*/
$colorHeader: $colorBlueMedium;
$colorSecondModule: $colorBlueLight;
$colorFooter: $colorBlueDark;

/*Main font colors*/
$fontColorDetails: #8ccbea;
$fontColorWhite: #ffffff;
$fontColorBlack: #000000; 
$fontColorGrey: #4a4a4a; 
$fontColorLinks: #f26002; 

/*Fonts*/

$fontFamilySecond: 'Roboto Slab', serif;

