/*Main colors*/
$color-blue-dark: #304268;
$color-blue-medium: #0271bc;
$color-blue-light: #eff9ff; 

/*Main colors applied to site*/
$color-header: $color-blue-medium;
$color-main: $color-blue-light;
$color-footer: $color-blue-dark;

/*Main font colors*/
$font-color-details: #8ccbea;
$font-color-white: #ffffff;
$font-color-black: #000000; 
$font-color-grey: #4a4a4a; 
$font-color-links: #f26002; 



