.secondModule__article{
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    @include mediaTablet(){
        padding-left: 0;
        padding-right: 0;
    }
    &--title{
        font-family: $fontFamilySecond;
        font-weight: bold;
        @include t(rem(18), rem(30));
        @include mediaTablet(){
            @include t(rem(24), rem(30));
        }
    }
    &--desc{
        @include t(rem(18), rem(30));
        @include mediaTablet(){
            @include t(rem(20), rem(30));
            padding-top: rem(18);
        }
    }
}