.firstModule{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: rem(24.9);
    padding: rem(37) rem(15) rem(45) rem(15);
    @include mediaTablet(){
        margin-top: rem(0);
        padding: rem(37) rem(39) rem(60) rem(39);
    }
    @include mediaDesktop(){
        margin-top: rem(0);
        padding: rem(65) rem(275) rem(60) rem(275);
    }
    &__subtitle{
        color: $fontColorDetails;
        font-weight: 400;
        @include t(rem(14), rem(30));
        @include mediaDesktop(){
            @include t(rem(16), rem(30));
        }
    }
    &__title{
        color: $fontColorBlack;
        font-family: $fontFamilySecond;
        font-weight: bold;
        text-transform: capitalize;
        @include t(rem(24), rem(30));
        margin-bottom: rem(20);
        width: 17ch;
        @include mediaTablet(){
            @include t(rem(26), rem(45));
            margin-top: rem(5);
            margin-bottom: rem(27);
            width: 100%;
        }
        @include mediaDesktop(){
            @include t(rem(32), rem(45));
            margin-bottom: rem(32);
        }
    }
    &__text{
        color: $fontColorGrey;
        @include t(rem(18), rem(30));
        @include mediaTablet(){
            @include t(rem(20), rem(30));
        }
    }
    &__link{
        width: 76px;
        height: 45px;
        border: solid 3px $fontColorLinks; /*Confirm weight 2px or more*/
        border-radius: 22.5px;
        color: $fontColorLinks;
        @include link;
        @include t(rem(20), rem(45));
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: rem(26);
        transition: background-color 1s ease;
        &:hover{
            background-color: $fontColorLinks;
            color: $fontColorWhite;
        }
        @include mediaTablet(){
            width: 91px;
            margin-top: rem(27);
        }
        @include mediaDesktop(){
            width: 160px;
        }
    }
}