.firstModule{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: rem(24.9);
    padding: rem(37) rem(15) rem(45) rem(15);
    @media screen and (min-width:768px){
        padding: rem(37) rem(39) rem(60) rem(39);
    }
    @media  screen and (min-width:1200px){
        padding: rem(65) rem(275) rem(60) rem(275);
    }
    &__subtitle{
        color: $font-color-details;
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(30);
        @media screen and (min-width:1200px){
            font-size: rem(16);
        }
    }
    &__title{
        color: $font-color-black;
        font-family: $font-family-second;
        font-weight: bold;
        text-transform: capitalize;
        font-size: rem(24);
        line-height: rem(30);
        margin-bottom: rem(20);
        @media screen and (min-width:768px){
            font-size: rem(26);
            line-height: rem(45);
            margin-top: rem(5);
            margin-bottom: rem(27);
        }
        @media screen and (min-width:1200px){
            font-size: rem(32);
            line-height: rem(45);
            margin-bottom: rem(32);
        }
    }
    &__text{
        color: $font-color-grey;
        font-size: rem(18);
        line-height: rem(30);
        @media screen and (min-width:768px){
            font-size: rem(20);
        }
    }
    &__link{
        width: 76px;
        height: 45px;
        border: solid 3px $font-color-links; /*Confirm weight 2px or more*/
        border-radius: 22.5px;
        color: $font-color-links;
        @include link;
        font-size: rem(20);
        line-height: rem(45);
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: rem(26);
        transition: background-color 1s ease;
        &:hover{
            background-color: $font-color-links;
            color: $font-color-white;
        }
        @media screen and (min-width:768px){
            width: 91px;
            margin-top: rem(27);
        }
        @media screen and (min-width:1200px){
            width: 160px;
        }
    }
}