.footer{
    background-color: $colorFooter;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: rem(65);
    padding-bottom: rem(45);
    @include mediaTablet(){
        padding: rem(50) rem(39) rem(40) rem(39);
    }
    &__scroll{
        width: 45px; 
        height: 45px; 
        background-color: #fff;
        border-radius: 50%;
        @include absoluteCentered();
        display: flex;
        justify-content: center;
        align-items: center;
        &--image{
            width: 20.6px;
            height: 24px;
        }
        animation: pulse 5s linear infinite alternate;
    }   
    @keyframes pulse {
        0%{
            background-color: #fff; scale: 1.2;
        }
        25%{
            background-color: $colorBlueLight; scale: 1;
        }
        50%{
            background-color: $colorBlueMedium; scale: 1.2;
        }
        100%{
            background-color: $colorBlueDark; scale: 1;
        }
    }
    &__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: rem(30);
        @include mediaTablet(){
            flex-direction: row;
            align-items: flex-start;
            text-align: left;
        }
            &--site{
                @include nav;
                    .link{
                    @include linkFooter;
                    }
                @include mediaTablet(){
                    min-width: 210px;
                } 
                @include mediaDesktop(){
                    min-width: 160px;
                } 
            }
            &--social{
                @include nav;
                    .link{
                        @include linkFooter;
                }
                @include mediaTablet(){
                    min-width: 210px;
                }
            }
            &--small{
                @include t(rem(16), rem(30)); /*Original font-size 14*/
                color: $fontColorWhite;
                text-transform: lowercase;
                display: flex;
                flex-direction: column;
            @include mediaTablet(){
                @include t(rem(16), rem(25));
                min-width: 210px;
                order: -1;
            }
            .fa-solid{
                color: $fontColorLinks;
                padding: rem(5);
                transform: rotateX(30deg);
            }
            }
    }
    }