.header{
    position: relative;
    &__menu{
        background-color: $colorHeader;
        position: fixed;
        width: 37.1px;
        height: 22px;
        overflow: hidden;
        padding: 10px;
        display: flex;
        align-items: center;
        @media screen and (min-width:768px){
            width: 44px;
            height: 44px;
            justify-content: center;
        }
        &--image{
            width: 13.5px;
            transform: translateY(-25%);
            @media screen and (min-width:768px){
                transform: none;
                width: 16px;
            }
        }  
    }
}