.header{
    position: relative;
    &__menu{
        background-color: $color-header;
        position: fixed;
        width: 37px;
        height: 22px;
        overflow: hidden;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &--image{
            width: 13.5px;
            transform: translateY(-25%);
            @media screen and (min-width:768px){
                transform: none;
                width: 15.1px;
            }
        }
        @media screen and (min-width:768px){
            width: 44px;
            height: 44px;
        }
    }
}