.header{
    position: relative;
    &__menu{
        background-color: $colorHeader;
        position: fixed;
        width: 37.1px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        @include mediaTablet(){
            width: 44px;
            height: 44px;
        }
        &--image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 13.5px;
            transform: translateY(-50%);
            @include mediaTablet(){
                padding: 30px;
                transform: none;
            }
        }  
    }
}