.hero{
    height: 100vh;
    background: url('../images/cover.jpeg') no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: rem(34);
    @include mediaTablet(){
        padding-bottom: rem(45);
    }
    @include mediaDesktop(){
        padding-bottom: rem(13);
    }
    &__title{
        font-family: $fontFamilySecond;
        text-transform: uppercase;
        word-spacing: 100vw;
        text-align: center;
        color: $fontColorWhite;
        font-weight: bold;
        @include t(rem(42), rem(55));
        @include mediaTablet(){
            @include t(rem(80), rem(106));
        }
        @include mediaDesktop(){
            @include t(rem(100), rem(132));
        }
    }
    &__text{
        color: $fontColorWhite;
        @include t(rem(16), rem(19));
        margin-top: rem(15);
        @include mediaTablet(){
            @include t(rem(24), rem(28));
            width: rem(340);
            text-align: center;
            margin-top: rem(30); /*Increased from 20*/
        }
        @include mediaDesktop(){
            width: 100%;
        }
    }
    &__scroll{
        width: 37.9px; 
        height: 37.9px; 
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: rem(35.2);
        transition: background-color 0.5s, transform 1s ease;
        &:hover{
            background-color: $colorBlueMedium;
            transform-origin: center;
            transform: rotate(360deg);
        }
        @include mediaTablet(){
            width: 45px;
            height: 45px;
            margin-top: rem(13);
        }
        @include mediaDesktop(){
            margin-top: rem(34);
        }
        &--image{
            width: 16.8px;
            height: 9.6px;
            @include mediaTablet(){
                width: 18.9px;
                height: 11.7px;
            }
        }
    }  
}

#hero {
    scroll-margin-top: initial;
    @include mediaTablet(){
        scroll-margin-top: initial;
    }
    @include mediaDesktop(){
        scroll-margin-top: initial;
    }
}

