.secondModule{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 29px;
    padding-bottom: 60px;
    background-color: $color-secondModule;
    justify-items: center;
    @media  screen and (min-width:768px){
        padding-top: 36px;
    }
    @media  screen and (min-width:1200px){
        padding-top: 61px;
    }
    &__title{
        font-family: $font-family-second;
        font-size: rem(24);
        line-height: rem(30);
        font-weight: bold;
        text-transform: capitalize;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: rem(49);
        @media  screen and (min-width:768px) {
            font-size: rem(26);
            line-height: rem(45);
            margin-bottom: rem(38);
        }
        @media  screen and (min-width:1200px) {
            font-size: rem(32);
            margin-bottom: rem(43);
        }
    }
    &__articles{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: rem(44);
        @media screen and (min-width:768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: rem(30);
            padding-left: rem(40);
            padding-right: rem(40);
            width: 100%;
        }
        @media screen and (min-width:1200px){
            column-gap: rem(35);
            padding-left: rem(85);
            padding-right: rem(85);
        }
    }
    &__link{
        width: 184px;
        height: 45px;
        background-color: $font-color-links;
        border-radius: 22.5px;
        color: $font-color-white;
        @include link;
        font-size: rem(20);
        font-weight: 500;
        margin-top: rem(41);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s ease;
        &:hover{
            background-color: $font-color-white;
            color: $font-color-links;
            border: solid 3px $font-color-links;
        }
        @media screen and (min-width:768px){
            width: 210px;
            margin-top: rem(57);
        }
        @media screen and (min-width:1200px){
            width: 255px;
        }
    }

}