.secondModule{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: rem(29);
    padding-bottom: rem(60);
    background-color: $colorSecondModule;
    justify-items: center;
    @media  screen and (min-width:768px){
        padding-top: rem(36);
    }
    @media  screen and (min-width:1200px){
        padding-top: rem(61);
    }
    &__title{
        font-family: $fontFamilySecond;
        font-weight: bold;
        text-transform: capitalize;
        @include t(rem(24), rem(30));
        margin-left: rem(15);
        margin-right: rem(15);
        margin-bottom: rem(49);
        @media  screen and (min-width:768px) {
            @include t(rem(26), rem(45));
            margin-bottom: rem(38);
        }
        @media  screen and (min-width:1200px) {
            @include t(rem(32), rem(45));
            margin-bottom: rem(43);
        }
    }
    &__articles{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: rem(44);
        @media screen and (min-width:768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: rem(30);
            padding-left: rem(40);
            padding-right: rem(40);
        }
        @media screen and (min-width:1200px){
            column-gap: rem(35);
            padding-left: rem(85);
            padding-right: rem(85);
        }
    }
    &__link{
        width: 184px;
        height: 45px;
        background-color: $fontColorLinks;
        border-radius: 22.5px;
        color: $fontColorWhite;
        @include link;
        @include t(rem(20), rem(45));
        font-weight: 500;
        margin-top: rem(41);
        display: flex;
        justify-content: center;
        transition: 1s ease;
        &:hover{
            background-color: $fontColorWhite;
            color: $fontColorLinks;
            border: solid 3px $fontColorLinks;
        }
        @media screen and (min-width:768px){
            width: 210px;
            margin-top: rem(57);
        }
        @media screen and (min-width:1200px){
            width: 255px;
        }
    }

}

#secondModule {
    scroll-margin-top: initial;
    @media screen and (min-width:768px){
        scroll-margin-top: initial;
    }
    @media screen and (min-width:1200px){
        scroll-snap-align: initial;
    }
}